@import url("https://fonts.googleapis.com/css2?family=IM+Fell+DW+Pica:ital@1&family=IM+Fell+English&family=Merriweather:ital,wght@1,300&family=Sawarabi+Mincho&family=Tiro+Telugu&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: whitesmoke !important;
}

.title {
  text-align: center;
  width: 60%;
  margin: 30px 20% 0;
}

#page-title{
  font-family: "IM Fell DW Pica", serif;
}

nav a{
    color: inherit !important;
}

nav a:hover {
    color:white !important; 
    text-decoration:none; 
    cursor:pointer;  
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #7f7f7f;
  top: 0;
}

li {
  float: left;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #444444;
  color: white;
}

.active {
  background-color: #bababa;
}

h1 {
  color: #67230e;
  width: 60%;
  margin: 0 20%;
  text-align: center;
  font-family: "IM Fell DW Pica", serif;
  font-size: 48px;
}

h2 {
  color: #2e2e2e;
  font-family: "IM Fell English", serif;
  font-size: 40px;
  width: 60%;
  margin: 0 20%;
  text-align: center;
}

h3 {
  color: #7e5c43;
  font-family: "Sawarabi Mincho", serif;
  font-size: 32px;
}

h4 {
  color: #444444;
  font-family: "Tiro Telugu", serif;
  font-size: medium;
  font-size: 24px;
}

h5 {
  color: #787a6c;
  font-family: Georgia, serif;
  font-size: 16px;

}

h6 {
  color: #353535;
  font-family: "Merriweather", serif;
  font-size: 8px;

}

img {
  width: 100%;
  height: auto;
}

p {
  color: #070b0c;
  text-align: center;
  margin: 0 20%;
  width: 60%;
}

#album-cover {
  width: 25%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 15px;
}

#artists {
  margin-bottom: 15px;
}

footer{
    margin-top: 50px;
    text-align: left;
    margin-left: 25px;
}

footer a{ 
    color: #000;
}

footer a:hover{
    color: darkslategray;
}